*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #f8f2f2;
}
.App{
    background-color: #BBBBBB;
    min-height: 520px;
    width: 420px;
    margin: 50px auto;
    border-radius: 5px;
    display: fixed;
}
#to-do-form input{
    background-color: #03506F;
    width: 220px;
    height: 50px;
    border: 0;
    padding: 0 20px;
    margin: 20px;
    font-size: 18px;
    border-radius: 10px;
    color: #fff;
}
#to-do-form input:form{
    outline: none;
}
#to-do-form input::placeholder{
    color: rgb(255, 255, 255, 0.5);
}
#to-do-form button{
    background-color: #0A043C;
    height: 50px;
    width: 85px;
    border: 0;
    border-radius: 10px;
    cursor: pointer;
    color: #fff;
    font-size: 18px;
    font-weight: bolder;
}
